.g-button {
    white-space: nowrap;
    @include breakpoint(mobile-only) {
        text-align: center;
        margin-bottom: $content-margin;
    }
    a {
        margin: 0;
        @include breakpoint(mobile-only) {
            width: 100%;
        }
    }
}
