.g-social {
    .g-social-items {
        line-height: normal;
        white-space: nowrap;

        @include breakpoint(mobile-only) {
            text-align: center;
        }

        a {
            @include responsive-font($responsive-font-size, $core-font-size, false, false);
            border-radius: 2px;

            @include breakpoint(tablet-range) {
                font-size: $core-font-size + 0.15;
            }
        }
    }
}
