
:root {
  --color-static-gray98: hsl(0, 0%, 98%);
  --color-static-gray95: hsl(0, 0%, 95%);
}

.g-offcanvas-open .g-offcanvas-left #g-page-surround {
  left: 0;
}

.g-offcanvas-right {
  .g-offcanvas-toggle {
    top: 30px;
    left: unset;
    right: 1.2rem;

    .fa-fw {
      font-size: 30px !important;
      color: #a0a0a0;
    }
}

  #g-offcanvas {
    box-shadow: -2px 0 6px rgb(0 0 0 / 10%);
    z-index: 1000;
    border-left: 1px solid var(--color-static-gray95);
    left: unset;
    right: 0;

    #g-mobilemenu-container {
      margin-left: -3.2rem;

      .g-toplevel {
        > li {
          > .g-menu-item-container {
            padding: 0.8rem 0;
          }

          &.active > .g-menu-item-container  {
            > .g-menu-item-content {
              opacity: 1;
              color: #3d3d3d;
            }
          }
        }
      }

      ul {
        > li.g-menu-item-link-parent > .g-menu-item-container > .g-menu-parent-indicator {
          border: none;
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
        }
      }
    }

    .g-menu-item-title {
      font-size: 1.2rem;
    }
  }
}

#g-container-top #g-navigation {
  background: var(--color-static-gray98);
  border-bottom: 1px solid var(--color-static-gray95);
  box-sizing: border-box;

  .g-grid {
    //height: 136px;
  }

  .g-content {
    padding: 0.5rem 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .g-logo {
    max-width: 100%;
    justify-content: unset;
    margin-right: -1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      //margin-top: -1.5rem;
      //margin-bottom: -1.5rem;
      object-fit: contain;
      min-height: 2.5rem;
      height: 80px;
    }
  }

  .g-main-nav .g-toplevel {
    justify-content: end;
  }
}

section.fp-slideshow {
  .slideshow-text {
    display: flex;
    font-size: 1rem !important;
  }

  .g-content {
    margin: 0;
    padding: 0;
  }
}

header.fp-header {
  .new-user-strip {
    text-align: center;
    margin: 0;
    background-size: cover;

    > .container {
      padding: 20px 12px 30px
    }

    .times {
      padding-top: 13px;
      padding-bottom: 12px;
      border-top: 1px solid #D0D0D0;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 18px;
      color: #595959;
      font-weight: 400;

      b {
        color: #2E6081;
        text-transform: uppercase;
        padding-right: 12px;
      }
    }

    a {
      text-decoration: none;
      color: #000000;


      &.schedule {
        color: #647897;
        text-decoration: underline;
        font-weight: 500;
      }
    }

    h1 {
      margin: 0 0 12px;
    }
  }

  .text-bold-white {
    font-size: 73px;
    line-height: 88px;
    font-family: roboto, sans-serif;
    color: #2280B6;
  }

  .text-small-light {
    font-size: 25px;
    vertical-align: top;
    line-height: 88px;
    font-weight: 100;
    color: #626262;
  }

  .church-name {
    font-size: 30px;
    vertical-align: top;
    line-height: 33px;
    display: inline-block;
    padding: 11px 8px 10px 10px;
    text-align: left;
    font-weight: 300;
    color: #525252;
    text-transform: uppercase;
    font-family: roboto, sans-serif;

    b {
      color: #2280B6;
      font-weight: 300;
    }
  }

  .q-mark {
    font-weight: 300;
  }

  .hiddenwelcome {
    display: none;
  }

  .visitorbutton {
    display: inline-block;
    background-color: #2280B6;
    color: #FFFFFF;
    padding: 5px 26px 5px 21px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 19px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    font-family: "open sans", sans-serif;
  }

  .fade1 {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    &:hover {
      opacity: 0.67;
    }
  }
}

#g-footer {

  .g-blockcontent .g-content {
    margin: 0.32rem;
    padding: 0.75rem;

    h4 {
      display: none;
    }
  }

  .g-blockcontent-subcontent-desc {
    font-size: 1rem;
  }

  * {
    color: #ffffff;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

}

.no-pad-vertical-g-content, .no-pad-vertical-g-content .g-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2.2rem !important;
  text-transform: uppercase;
  font-weight: 500;
}

div.cbc-custom-page {
  .page-header {
    h1 {
      font-size: 2.2rem;
    }
  }
}

div.cbc-custom-items {
  div.cbc-custom-item {
    .page-header {
      h2 {
        padding-bottom: 0;
        line-height: 2.5rem;
      }
    }
  }
}

div.our-staff {
  margin-bottom: 4rem;

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  h2 {
    font-weight: 400;
    margin: 20px 0 0;
  }

  h4 {
    font-weight: 400;
    color: #777;
    font-style: italic;
    margin: 0;
  }

  a[href^="mailto:"]::before {
    font-family: fontawesome;
    content: "\f0e0";
    padding-right: 10px;
    font-size: 17px;
    color: #589AC9;
  }

  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    float: left;
    margin: 12px 40px 11px 0;
  }
}

table {
  border: none;
  tr {
    td, th {
      border: none;
    }
  }
}

.icon-clock::before {
  font-family: fontawesome;
  content: "\f017";
  padding-right: 8px;
  font-size: 16pt;
  vertical-align: baseline;
  display: inline-block;
}

.cbc-announcements {
  div.cbc-custom-items {
    .item-content.cbc-custom-item {
      margin-bottom: 2rem;

      h2[itemprop=name] {
        margin-top: 1rem;
        text-align: center !important;
      }

      .cbc-signup-button {
        text-align: center !important;
        margin-bottom: 1rem;
      }
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25% !important;
  margin: 20px 0;
  height: 0 !important;
  overflow: hidden;

  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: none
  }
}

.btn {
  &.btn-lg {
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 0.6rem;
  }

  &.btn-xl {
    font-size: 2rem;
    font-weight: 400;
    border-radius: 0.8rem;
  }
}

//noinspection SassScssResolvedByNameOnly
@media (max-width: $breakpoints-large-desktop-container - 0.01rem) {
  html {
    font-size: 15px;
  }
}

//noinspection SassScssResolvedByNameOnly
@media (max-width: $breakpoints-desktop-container - 0.01rem) {
  html {
    font-size: 14px;
  }
}

//noinspection SassScssResolvedByNameOnly
@media (max-width: $breakpoints-tablet-container - 0.01rem) {
  html {
    font-size: 13px;
  }

  #g-container-top #g-navigation {
    .g-logo {
      margin-left: 0;

      img {
        height: 60px;
      }
    }
  }

  .row {
    margin-left: calc(var(--bs-gutter-x) * -.5);
  }
}

//noinspection SassScssResolvedByNameOnly
@media (max-width: $breakpoints-large-mobile-container - 0.01rem) {
  html {
    font-size: 12px;
  }

  header.fp-header {
    .new-user-strip {
      .times { border-top: none; }
    }

    .text-new-user { display: none; }
  }

  div.our-staff {
    h2 {
      clear: both;
    }
  }
}

//noinspection SassScssResolvedByNameOnly
@media (min-width: $breakpoints-large-mobile-container) {
  .cbc-announcements {
    div.cbc-custom-items {
      max-width: 800px;
      display: table;
      margin-left: auto;
      margin-right: auto;

      .blog-item {
        .item-image img {
          max-width: 450px;
          display: table;
          margin-left: auto;
          margin-right: auto;
        }

        .item-content.cbc-custom-item {

        }
      }
    }
  }
}

//noinspection SassScssResolvedByNameOnly
@media (min-width: $breakpoints-tablet-container) {
  .btn {
    &.btn-xl {
      font-size: 1.75rem;
      border-radius: 0.7rem;
    }
  }
}

//noinspection SassScssResolvedByNameOnly
@media (min-width: $breakpoints-desktop-container) {
  div.cbc-custom-items {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

//@mixin breakpoint($breakpoint, $media: all) {
//  @if $breakpoint == large-desktop-range {
//    @media only #{$media} and (min-width: $breakpoints-large-desktop-container) { @content; }
//  }
//  @else if $breakpoint == desktop-range {
//    @media only #{$media} and (min-width: $breakpoints-desktop-container) and (max-width: $breakpoints-large-desktop-container - 0.01rem) { @content; }
//  }
//  @else if $breakpoint == desktop-only {
//    @media only #{$media} and (min-width: $breakpoints-desktop-container) { @content; }
//  }
//  @else if $breakpoint == tablet-range {
//    @media only #{$media} and (min-width: $breakpoints-tablet-container) and (max-width: $breakpoints-desktop-container - 0.01rem) { @content; }
//  }
//  @else if $breakpoint == large-mobile-range {
//    @media only #{$media} and (min-width: $breakpoints-large-mobile-container + 0.01rem) and (max-width: $breakpoints-tablet-container - 0.01rem) { @content; }
//  }
//  @else if $breakpoint == small-mobile-range {
//    @media only #{$media} and (max-width: $breakpoints-large-mobile-container) { @content; }
//  }
//  @else if $breakpoint == no-mobile {
//    @media only #{$media} and (min-width: $breakpoints-tablet-container) { @content; }
//  }
//  @else if $breakpoint == mobile-only {
//    @media only #{$media} and (max-width: $breakpoints-tablet-container - 0.01rem) { @content; }
//  }
//  @else if $breakpoint == no-desktop {
//    @media only #{$media} and (max-width: $breakpoints-desktop-container - 0.01rem) { @content; }
//  }
//}
